* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.label_close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#results_container {
  overflow: auto;
  white-space: nowrap; /* Prevents content from wrapping to the next line */
  margin-bottom: 30%;
}

.process_num_block {
  background-color: #ffc8dd;
  position: relative;
  width: 100px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.header_color {
  background-color: #edceff !important;
}

.table_color {
  background-color: #cfe8ff !important;
}

.efficiency_div {
  display: flex;
  flex-direction: column;
}

/* PageReplacement.html */
.replaced_page {
  background-color: #ffc8dd !important;
}

.index__footer {
  margin: 20% 0 10%;
}

.index__img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.index__icon {
  text-decoration: none;
  color: rgb(153, 12, 127);
  margin: 0 2%;
}

/* loading animation */
/* credits to https://loading.io/css/ */
.lds-ring-container {
  position: fixed;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #6190e9;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #6190e9 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.text-loading {
  color: #6190e9;
}
